.photo-roll-container {
    width: 100%;
    overflow: hidden;
    margin: 25px auto 0 auto;
}

.photo-roll {
    height: 120px;
    width: 3500px;
    margin-bottom: 15px;
    margin-left: 100%;
    font-size: 0;
}

.photo-roll img {
    margin: 10px 10px 0 0;
    width: 200px;
    height: 100px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.3s ease;
}

.photo-roll img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
    background: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

}

.photo-roll img:first-child {
    -webkit-animation: bannermove 15s linear infinite;
    animation: bannermove 20s linear infinite;
}

/* Keyframe animations*/

@keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2800px;
    }

}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2800px;
    }

}

@-webkit-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2800px;
    }

}

@-ms-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2800px;
    }

}

@-o-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2800px;
    }

}

@media screen and (max-width: 950px) {
    @keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2300px;
        }

    }

    @-moz-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2300px;
        }

    }

    @-webkit-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2300px;
        }

    }

    @-ms-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2300px;
        }

    }

    @-o-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2300px;
        }

    }
}

@media screen and (max-width: 450px) {
    @keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2000px;
        }

    }

    @-moz-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2000px;
        }

    }

    @-webkit-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2000px;
        }

    }

    @-ms-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2000px;
        }

    }

    @-o-keyframes bannermove {
        0% {
            margin-left: 0px;
        }
        100% {
            margin-left: -2000px;
        }

    }
}
